@model TSPPproject.Models.Volunteer

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення Волонтера</h2>

<h3>Ви впевненні в цьому?</h3>
<div>
    <h4>Інформація про волонтера</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Назва")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Опис")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt>
            @Html.DisplayName("Телефое")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Адреса")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Рейтинг")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayName("Кількість оцінок")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_rating)
        </dd>

        <dt>
            @Html.DisplayName("Розташування")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Повернутись на попередню сторінку", "Index")
        </div>
    }
</div>
